body {
    width: 250px;
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f8f9fa;
}

h2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ffffff;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}

li:nth-child(odd) {
    background: #e9ecef;
}

li:hover {
    background: black;
    color: beige;
}

#clear-history{
    background-color: black;
    color: beige;
    border-radius: 5px;
    padding: 3px;
    font-size: smaller;
    position: fixed;
    right: 10px;
    bottom: 5px;
}


chrome.storage.sync.get("problems", function(data) {
    console.log(data.problems);
});
